body {
  background: #FF0000;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

body, a:hover {cursor: url(http://cur.cursors-4u.net/anime/ani-3/ani379.cur), progress !important;
}


.wrapper{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  margin: 0;
  text-align:center;
}

.index{
  margin:20px;
}

.x{
  text-decoration: none;
  font-size: 60px;
  text-align: center;
  -webkit-text-fill-color: #FF0000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}


.element {
  font-size:100px;
  animation-name: stretch;
  animation-duration: 0.9s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.watashi{
  text-decoration: none;
  color:#fff;
  text-shadow: 3px 3px #000;

}

@keyframes stretch {
  0% {
    transform: scale(.3);
    color:#fff;
    font-weight: 900;

  }
  50% {
    color:#fff;
    font-weight: 900;

  }

  100% {
    transform: scale(3.5);
    color:#fff;
    font-weight: 900;

  }
}



.me:hover img{
  visibility: visible;
}

img{
 border-radius: 100px;
 visibility: hidden;

}

