body{
    font-family: 'Inconsolata', monospace;;
}

a{
    color:white;
    text-decoration: none;
}

.bold{
    font-size:50px;
}



.container-column1 {
  width: 30%;
  height: 800px;
  float: left;
  color:white;
  background-color:#E23D1C;
}  

.column-1-headline{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:30px;
}

.column-1-subheadline{
    font-weight:300;
    text-transform: uppercase;
    letter-spacing: 1px;
   
}
.column1-content{
    margin-left:20px;
}

.column-1-headline{
    font-weight:100;
    margin-right:20px;
}  

.column1-links{
   margin-left: 20px;
    padding:0;
    font-size:px;
}

.year{
    margin-top:400px;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
}

.container-column2 {
  background:#c00;
  width: 70%;
  float:left;
  color:black;
  background-color:white;
  height: 800px;
}


.column2-content{
    margin-top:0;
    margin-left:40px;
}

.column2-header{
    font-weight:300;
    font-size:50px;
    border-top:1px solid black;
    margin-top:30px;
    letter-spacing:3px;
}

.column2-text{
    font-weight:300;
    font-size:70px;
    text-transform: uppercase;
}