body {
  background:#000;
  color: #fff;
  font-family: 'Roboto Mono', monospace;

}

body, a:hover {
  cursor: url(http://ani.cursors-4u.net/smiley/smi-3/smi350.cur), progress !important;
} 
.wrapper{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  margin: 0;
  text-align:center;
}

.index{
  margin:20px;
}

.x{
  text-decoration: none;
  font-size: 60px;
  text-align: center;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.languages{
  font-size:40px;
  color: #fff;
  font-weight:700px;
  
}

.welcome {
  max-width: 1000px;
  overflow: hidden;
  position: relative;
  min-height: 2.5em;
}

.yokouso{
  text-decoration:none;
}

.blink_me{
  font-size:130px;
  margin:0;
  text-transform:uppercase;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  text-shadow: 6px 6px #FF0000;
}

.blink_me:hover {
  animation: blinker 0.4s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.left {
  white-space: nowrap;
  position: absolute;
  text-transform: uppercase;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-animation: mymove 1.6s linear infinite; 
  white-space: nowrap;
  animation: mymove 1.6s linear infinite alternate;
}

@-webkit-keyframes mymove {
  from {
    left: 0;
  }
  to {
    left: -140px;
  }
}

@keyframes mymove {
  from {
    left: 0;
  }
  to {
    left: -140px;
  }
}

span:hover{
 -webkit-text-fill-color: #000;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #ff0;
}

.red:hover{
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FF0000;
}

