html,body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;;

}

.headline{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:30px;
    font-weight: 300;
  
}

.container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  padding: 20px;
  position: fixed;
  height: 100%;
  width:250px;
  background-color:#E23D1C;
  color:white;
} 


.body {
  background: #fff;
  height: 100%;
  padding: 10px;
  position: relative;
  margin-left: 350px;
  margin-right:300px;
}

.divider{
  width:100%; 
  margin-top:-10px;
  border-bottom: 1px dotted #fff;
}

h1,h2 {
  margin-top: 20px;
}

ul{
  margin-top:0px;
   padding: 0;

  
}

.link-title{
  font-size:20px;
  margin-top: 50px;
}

li{
  list-style: none;
  margin-top:10px;
  font-size:18px;
 
}

a{
  text-decoration: none;
  color:#fff;
}

a:hover{
  border-bottom: 3px dashed #fff;

}