body{
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color:#000;
    color:#fff;
    font-weight:300px;
    font-family: 'Roboto Mono', monospace;
}

body, a:hover {
    cursor: url(http://ani.cursors-4u.net/smiley/smi-3/smi356.cur), progress !important;
} 


 .content{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
  

a{
    text-decoration: none;
    font-size: 60px;
    text-align: center;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}


.index{
    margin:20px 0 0 28px;
}


.messagelabel{
    text-transform:uppercase;
    overflow: hidden;
    border-right: .05em solid #fff;
    margin: 0 auto; 
    white-space: nowrap; 
    letter-spacing: .15em;

    animation: 
    typing 2.5s steps(30, end),
    blink-caret .5s step-end infinite;
    
}

.japanesetext{
    font-size:100px;   
}


@keyframes typing {
    from { 
        width: 0 
    }
    to { 
        width: 80%
    }
  }

@keyframes blink-caret {
    from, to 
    { border-color: transparent 
    }

   50% 
    { border-color:#fff 
    }
  }



.tooltiptext {
    visibility: hidden;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #fff;
    color:#fff;
    /* Position the tooltip */
    position: absolute;
    left: 40%;
    bottom: 100%;
}

.messagelabel:hover .tooltiptext {
    visibility: visible;
}


.options-container{
    font-size: 50px;
    text-align: center;
    font-weight:300;
    color:#fff;
}


.yes:hover{
    padding: 1px;
    border: 1px solid #fff;

}

.no:hover{
    padding: 1px;
    border: 1px solid #fff;
}

