body{
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color:#000;
    color:#fff;
    font-weight:300px;
    font-family: 'Roboto Mono', monospace;
}


 .content{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
  

a{
    text-decoration: none;
    font-size: 50px;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    text-align: center;
}


.home{
    margin:20px;
}


.messagelabel{
    text-align:center;

    color:#fff;
    font-size:100px;
    text-transform:uppercase;

    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFF66;

    overflow: hidden;
    border-right: .05em solid #fff;
    margin: 0 auto; 
    white-space: nowrap; 
    letter-spacing: .15em;

    animation: 
    typing 2.5s steps(30, end),
    blink-caret .5s step-end infinite;
    
}


@keyframes typing {
    from { 
        width: 0 
    }
    to { 
        width: 80%
    }
  }

@keyframes blink-caret {
    from, to 
    { border-color: transparent 
    }

   50% 
    { border-color:#fff 
    }
  }



.tooltiptext {
    visibility: hidden;
    font-size: 14px;
    color:white;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 70%;
}

.messagelabel:hover .tooltiptext {
    visibility: visible;
}


